
@model ExamDomain.Model.ClosedAnswer

    @*<dt>
        @Html.DisplayNameFor(a => a.AnswerText)
    </dt>*@


<tr>
    <td style="width: 20%">
        @Html.DisplayFor(a => a.AnswerText)
    </td>

    <td style="width: 20%">
        @Html.DisplayFor(a => a.IsCorrect)
    </td>
    <td style="width: 60%">
        
    </td>
</tr>





