@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>E-xam</h1>
    <p class="lead">
        E-xam is a <strong>revolutionary</strong> solution which allows to create and perform exams, assess students work,
        minimizes common errors during exams and reports students educational effects
    </p>

</div>
